

.background_img{

background-image: url(./welcome.jpg);
opacity: 0.8;





}


.welcome{

text-align: center;
margin-top: 15%;
color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;



}



.fowardButton{

text-align:center;




}
